{{ define "main" }}
<div class="owl-carousel owl-theme">
    {{range .Params.slides}}
    <div class="img">
      <img src="{{ .image }}" alt="">
      <div class="sli-btn">
        <button>
          <a href="{{.btnUrl}}">{{.btnText  }}</a>
        </button>
      </div>
    </div>
  {{end}}

  </div>
  <div class="branchen-text slider-text">
    <div class="container">
      <div class="first-section">
        <h2>{{.Params.heroTitle}}</h2>
      </div>
      <div class="second-section">
        <h3>
          <span>
            {{.Params.subTitle}}
          </span>
        </h3>
      </div>
    </div>
  </div>

  <section id="Traffic & Security" class="branchen-section">
    <div class="container">
      <div class="text-wrapper">
        {{.Content}}
    </div>
    </div>
  </section>
  {{ end }}