<script
src="/js/jquery.min.js"
></script>
<script src="/js/owl.min.js"></script>
<script src="/js/script.js"></script>
    <!-- ********SCROLL UP BUTTON********* -->
    <button onclick="topFunction()" id="myBtn" title="Go to top">
        <i class="fa-solid fa-chevron-up"></i>
      </button>
  
      <footer>
        <div class="container">
          <div class="footer-nav">
              <ul>
                {{ $currentPage := . }}
                {{ $menu := .Site.Menus.footer }}
                {{ range $index, $element := $menu }}
                    <li class =" {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{ end }}">
                        <a href="{{ $.Site.BaseURL }}{{ .URL }}">{{ .Name }}</a>
                    </li>
                {{ end }}
            </ul>
          </div>
  
          <div class="footer-right">
            <a href="tel:+49 61 51 500 19 94">
              <i class="fa fa-phone"></i>
              <span>+49 61 51 500 19 94</span>
            </a>
            <a href="kontakt.html">
              <i class="fa-solid fa-envelope"></i>
            </a>
          </div>
        </div>
      </footer>
    </body>
  </html>
  