{{ define "main"}}
 <!-- ******SLIDER******* -->

 <div class="owl-carousel owl-theme">
    <div class="img">
      <img src="/images/slide-1.jpg" alt="" />
    </div>
    <div class="img">
      <img src="/images/slide-2.png" alt="" />
    </div>

    <div class="img">
      <img src="/images/slide-3.jpg" alt="" />
    </div>

    <div class="img">
      <img src="/images/slide-4.jpg" alt="" />
    </div>

    <div class="img">
      <img src="/images/slide-5.jpg" alt="" />
    </div>
  </div>
  <div class="slider-text">
    <div class="container">
      <div class="first-section">
        <h2>
          Die Softwareentwickler.<br />
          Die Technologiedienstleister.<br />
          Die Bildverarbeitungsexperten.
        </h2>
      </div>
      <div class="second-section">
        <h3>
          <span
            >Wir bieten Beratung, Konzeption & Entwicklung von
            Softwaresystemen in den Bereichen Betrieb, Produktion und
            Forschung aus einer Hand.</span
          >
        </h3>
      </div>
      <button class="slider-btn btn">
        <a href="#more"> <i class="fa-solid fa-down-long"></i>Mehr zu uns </a>
      </button>
    </div>
  </div>

  <section id="more" class="main-second">
    <div class="container">
      <h4>
        Als Dienstleister im Bereich des
        <span>maschinellen Sehens (Machine Vision / Computer Vision)</span>
        entwickeln wir für Sie maßgeschneiderte Lösungen-
        <span>von der ersten Konzeption bis hin zum fertigen Produkt.</span>
      </h4>

      <h4>
        Unsere Software passt sich Ihren Prozessen an und nicht umgekehrt.
      </h4>

      <h4>
        Es ist unser stetiger Antrieb, individuelle und effiziente
        Softwarelösungen zu entwerfen, um das auf Ihre Anforderungen passende
        Softwareprodukt zu entwickeln.
      </h4>

      <h4>
        Aus der Freude am Ingenieurswesen und der Softwareentwicklung heraus
        haben wir uns zu Dienstleistern für alle Bereiche etabliert, in denen
        Fachliches auf Technisches trifft.
      </h4>

      <h3>
        BKE - Wir führen Ihre Softwareprojekte mit innovativen Lösungen zum
        Erfolg!
      </h3>
      <button class="main-second-btn btn">
        <a href="kontakt.html">
          <i class="fa-solid fa-envelope"></i>
          Fordern sie uns heraus
        </a>
      </button>
    </div>
  </section>
{{ end }}